body {
	background-color: #25364d;
}
p {
    color: white;
}
.navbar-default{
    background-color: #e9ecef;
}
#P-negro{
    color:black;
}
h1 {
    color: white;
}
.Header{
    background-color: #e9ecef;
    text-align: center;
}
.Header img{
    float: left;
}
.Header h1{
    color: black;
    position: relative;
    padding-top: 3%;
    font-size: 2vw;
}
.Header p{
    color: black;
    position: relative;
    padding-bottom: 1%;
    font-size: 1vw;
}
h4 {
    color: white;
}
#CardH{
    color: black;
    font-size: 1vw;
    text-align: center;
}
dl {
    color: white;
}
li{
    color:white;
}
#Footer{
    background-color: #e9ecef;
    text-align: center;
    padding-bottom: 30px;
}
#Footer h1{
    color: black;
    font-size: 3vw;
    padding-top: 30px;
}
#Footer h4{
    color: black;
    font-size: 1vw;
}
#Footer a{
    color: white;
}
#Grupo{
    width: 60%;
    margin: 0 auto;
}
#Grupo a{
    color: black;
    font-size: 1vw;
}
.navbar img {
    display:block;
    margin: 0px auto;
}
#body2{
    background-color: white;
}