body {
    background: url(../img/fondo1.jpg) no-repeat center center fixed;
    position: relative;
    background-size: cover;
}

#textoNegro{
    color:white;
}

#img {
    display:block;
    margin: 0px auto;
}
.navbar a {
    color:white;
}

p {
    color: white;
}
h1 {
    color: black;
    text-align: center;
}
h4 {
    color: white;
}
dt{
    color:white;
}
li{
    color:white;
}

#Header{
    background-color: #e9ecef;
    text-align: center;
    margin: 0px auto;
    vertical-align: middle;
}
#Header p{
    color: black;
    text-align: center;
    margin: 0px auto;
    vertical-align: middle;
}
#HeaderIndex{
    background: url(../img/Fondo.jpg) no-repeat center center fixed;
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.texto{
    display: table-cell;
    color: black;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.texto h1{
    font-size: 500%;
    font-weight: 700;
}
.texto a{
    color:white;
}
.texto p{
    color:black;
}

#CardH{
    color: black;
    font-size: 1vw;
    text-align: center;
}

#ColorBlanco{
    color:white;
    text-align: center;
}

#Footer{
    background-color: #e9ecef;
    text-align: center;
    padding-bottom:1%;
    padding-top:1%;
}
#Footer h1{
    color: black;
    font-size: 200%;
    font-weight: 700;;
}
#Footer h4{
    color: black;
    font-size: 1vw;
}
#Footer a{
    color: white;
}

#Grupo{
    background: rgba(52, 58, 64, 0.7);
    margin: 2%;
}
#Grupo1{
    width: 80%;
    margin: 0px auto;
}
#Grupo a{
    color: black;
    font-size: 1vw;
}
#Grupo p{
    color: white;
}
#Grupo h1{
    color: white;
}

textarea {
    width: 300px;
    height:40%;
}

.card {
    margin: 0 auto;
    margin-bottom: 10px;
}

label{
    color:white;
}
@media (max-width: 768px){
    .texto h1{
        font-size: 300%;
    }
    #Footer h1{
        font-size: 150%;
    }
}